body{
    background-image: url('https://i.gifer.com/9DNY.gif');
    background-size: cover;
    font-family:sans-serif;
    text-align: center;
    text-decoration: none;
    text-decoration-line: none;
}